<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1 align="center">Welcome to Registration </h1>
<form action="register" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" placeholder="Inster Your First Nname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" placeholder="Inster Your Last Name"><br><br>
  <label for="userid">User ID:</label><br>
  <input type="text" id="userid" name="userid" placeholder="Create User ID"><br>
  <label for="pass">Enter Password:</label><br>
  <input type="password" id="pass" name="pass" placeholder="Create Password"><br>
  <label for="pass2">Confirm Password:</label><br>
  <input type="password" id="pass2" name="pass" placeholder="Confrim Password"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>